.home-page-heading {
  animation: slidein;
  animation-duration: 0.5s;
  margin: 0 auto;
  margin-top: 20vh;
  margin-bottom: 5vh;
  color: #0c6efd;
  font-size: 50px;
  text-align: center;
}

.home-description {
  animation: slidein;
  animation-duration: 1s;
  color: #0c6efd;
  text-align: center;
}

.logo-wrapper {
  animation: slidein;
  animation-duration: 1.5s;
  margin: 30px auto;
  text-align: center;
}

.home-logo {
  margin: 15px;
}

.image-wrapper {
  width: 600px;
  height: 400px;
  position: relative;

  margin: 90px auto;
}

.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
}

.image-1 {
  clip-path: polygon(0 0, 0 32%, 28% 0);
  transform: translate(-10px, -10px);
  transition: transform 300ms ease;
  transform-origin: top;
  .image-wrapper:hover & {
    transform: translate(0, 0);
  }
}

.image-2 {
  clip-path: polygon(28% 0, 0 32%, 0 100%, 17% 100%, 90% 0);
  transform: translate(-30px, 5px);
  transition: transform 300ms ease;
  .image-wrapper:hover & {
    transform: translate(0, 0);
  }
}

.image-3 {
  clip-path: polygon(100% 0, 100% 65%, 74% 100%, 17% 100%, 90% 0);
  transform: translate(-15px, -10px);
  transition: transform 300ms ease;
  .image-wrapper:hover & {
    transform: translate(0, 0);
  }
}

.image-4 {
  clip-path: polygon(100% 65%, 74% 100%, 100% 100%);
  transform: translate(-32px, 5px);
  transition: transform 300ms ease;
  transform-origin: top;
  .image-wrapper:hover & {
    transform: translate(0, 0);
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  70% {
    margin-left: 90%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
