.messageForm__container {
  background-color: lightcyan;
  padding: 20px;
  margin: 10%;
  border: 3px solid gray;
  border-radius: 20px;
  width: fit-content;
}

.border--rounded {
  border-radius: 20px;
}
