.navbar__container {
  background-color: lightgray;
  position: relative;
  height: 100px;
  width: 100%;
  margin: 0;
}

.navbar__container p {
  margin: 0;
}

.nav_link--text {
  color: #a9c7ff;
}

.nav_link--text:hover {
  color: white;
}
